#!/usr/bin/env ruby

compile '/{article,draft}/**/*.xml' do
  layout '/xsl/ijkml.xsl'
  layout '/default.*'
end
layout '/xsl/ijkml.xsl', :xsl

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.css'do
  write item.identifier.to_s
end

compile '/**/*.erb' do
  filter :erb
  write item.identifier.without_ext
end

compile '/**/*' do
end

route %r[/article/\d{4}/(\d{4})-(\d{2})-(\d{2})-([^\/]+)/([^\/.]+).xml] do |year, month, day, slug, filename|
  "/article/#{year}/#{month}/#{day}/#{slug}/#{filename}.html"
end

route %r[/draft/([^\/]+)/([^\/.]+).xml] do |slug, filename|
  "/draft/#{slug}/#{filename}.html"
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
