#!/usr/bin/env ruby

compile '/articles/**/*.xml' do
  filter :ijkml, file: "/xsl/ijkml.xsl"
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.erb' do
  filter :erb
  write item.identifier.without_ext
end

compile '/**/*' do
end

route %r[/articles/\d{4}/(\d{4})-(\d{2})-(\d{2})-([^\/]+)/([^\/.]+).xml] do |year, month, day, slug, filename|
  "/article/#{year}/#{month}/#{day}/#{slug}/#{filename}.html"
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
