---
title: 日記
ogtype: blog
---
<h1>日記</h1>
<h2>記事一覧</h2>
<% sorted_articles.each do |item| %>
  <%- d = item[:created_at] -%>
  <%- path = "/article/%04d/%02d/%02d/%s/" % [d.year, d.month, d.mday, item[:slug]] -%>
  <%- pubdate = "%04d-%02d-%02d" % [d.year, d.month, d.mday ] -%>
  <section class="article">
    <h3><%= pubdate %>: <a href=".<%= path %>"><%= item[:title] %></a></h3>
    <p><%= item[:excerpt] %></p>
  </section>
<% end %>
