body {
  background: #fff;
  margin: 0;
}

a.link-footnote {
  vertical-align: super;
  font-size: x-small;
  text-decoration: none;
}

a.link-footnote:hover {
  text-decoration: underline;
}

a.targetable:target {
  background: #c9fbc9;
  color: black;
}

.targetable:target {
  background: #c9fbc9;
}

code.prettyprint {
  background: #f1f1f1;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: none;
  padding: 8px;
}

code {
  background: #f1f1f1;
}

#footnotes {
  border-top: thin solid black;
}

#site-nav {
  background: #222;
  color: #fff;
  margin-top: 0px;
}

a.nav-item {
  margin: 8px;
  text-decoration: none;
  color: #fff;
}

#site-fotter {
  max-width: 74rem;
  margin: auto;
  border-top: thin solid black;
}

#header {
  border-bottom: thin solid black;
}

#page-container {
  margin: 8px;
}

main {
  max-width: 74rem;
  margin: auto;
}

a.section-anchor {
  float: left;
  margin-left: -1.5em;
  text-decoration: none;
}

.section-heading:hover > a.section-anchor::before {
  content: "🔗";
}

.section-heading {
  padding-left: 1.5em;
  margin-left: -1.5em;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 30px;
}

#table-of-contents ol {
  counter-reset: item;
}

li.toc-item {
  display: block;
}

li.toc-item::before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.article-metadata, .article-metadata * {
  font-size: 0.8rem;
}
