body {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

a.link-footnote {
  vertical-align: super;
  font-size: x-small;
  text-decoration: none;
}

a.link-footnote:hover {
  text-decoration: underline;
}

a.targetable:target {
  background: #c9fbc9;
  color: black;
}

.targetable:target {
  background: #c9fbc9;
}

code {
  background: #f1f1f1;
  display: inline-block;
  margin: 0;
  border: none;
  padding: 0;
}

#footnotes {
  border-top: thin solid black;
}

#site-fotter {
  border-top: thin solid black;
}

#header {
  border-bottom: thin solid black;
}

a.section-anchor {
  float: left;
  margin-left: -1.5em;
  text-decoration: none;
}

.section-heading:hover > a.section-anchor::before {
  content: "🔗";
}

.section-heading {
  padding-left: 1.5em;
  margin-left: -1.5em;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 30px;
}
