---
title: このサイトについて
author: hnagamin
jsonld:
  type: AboutPage
---
<h1>このサイトについて</h1>
<h2>著者</h2>
<p>
長嶺 英朗 (NAGAMINE Hideaki)
<ul>
  <li>GitHub: <a href="https://github.com/1995hnagamin/">1995hnagamin</a></li>
  <li>Twitter: <a href="https://twitter.com/hnagamin/">@hnagamin</a>
</ul>
</p>